.Header {
    height: 8vh;
    display: flex;
    width: 100%;
    background-color: #A65314;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.Header a {
    box-sizing: border-box;
    margin: 2em;
    text-decoration: none;
    color: white;
}