
.Tiempo {
    min-height: 84vh;
    /* width: 50vw; */
    height: fit-content;
    display: flex;
    justify-content: right;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}