
.Home{
    background-image: url(../../..pantallaCine);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item{
    width: 10em;
    height: 10em;
    margin-bottom: 7em;
  }