
.Home{
    background-image: url(../../..pantallaCine);
    display: flex;
    justify-content: center;
    align-items: center;

}
/* .carousel-inner > .item > img {
    width:100px;
    height:100px;
  } */
  .carousel-item{
    width: 15em;
    height: 15em;
    margin-bottom: 10em;
  }